* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4{
    font-family: 'Times New Roman', Times, serif;
    color: #212121;
    margin: 5px;
}

p{
    color: #212121;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.btn{
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    border: 1px solid ;
    border-radius: 0.25rem;
}

.btn:hover{
    color: black !important;
    background: white;
}

body .carrossel {
    display: flex;
    align-items: center;
    margin: auto;
}

/* menu*/
header{
    background-color: #b31f1f;
    height: 66px;
}

header * {
    color: #0e0301;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 8em;
}

header .logo-text{
    margin: 9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header .logo-text span{
    color: #fafafa;
}

header ul{
    float: right;
    margin: 0px;
    list-style: none;
    padding: 0px;
}

header ul li{
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    display: none;
    width: 180px;
    z-index: 88888;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    color: #444;
    background: gray;
}


header ul li ul li a:hover{
    background: rgba(161, 22, 22, 0.596);
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background: #8b070b;
    transition: 0.5s;
}

header .menu-toggle{
    display: none;
}

/* carrossel de imagens*/
.post-slider{
    position: relative;
}
.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}

.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
}

.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #0e0301;
    cursor: pointer;
}

.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #0e0301;
    cursor: pointer;
}

.post-slider .post-wrapper .post{
    background:none;
    display: inline-block;
    width: 300px;
    margin: 0px 10px;
    border-radius: 5px;
    height: 280px;
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem black;
    border-left: 1px solid black;
    background-color: whitesmoke;
}

.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slider .post-wrapper .post .post-info{
    height: 130px;
    padding: 0px 5px;
}
.page-wrapper p{
    margin-left: 8em;
}

/*sobre nos*/

.content-sobrenos{
    width: 90%;
    margin: 80px auto 80px;
}

.content-sobrenos .main-sobrenos{
    width: 55%;
    float: left;
    margin-left: 4em;
}

.content-sobrenos .main-sobrenos .sobre-nos-title{
    margin: 20px;
    margin-left: 0em;
    color: #0e0301;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content-sobrenos .image-sobrenos .nos .nos-image{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 35%;
    height: 150%;
    margin: 10px auto 10px;
    margin-left: 3em;
    float: right;
}
.content-sobrenos2{
    width: 90%;
    margin: 80px auto 80px;
}
 
.content-sobrenos2 .main-sobrenos2{
    width: 55%;
    float: left;
    margin-left: 36em;
}
.content-sobrenos2 .image-sobrenos2 .nos2 .nos-image2{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 35%;
    height: 300%;
    margin: -200px auto -200px;
    margin-right: 48em;
    float: right;
   
}


/*site 1*/
.content-site1{
    text-align: justify;
    margin-left: 6em;
    margin-right: 34em;
    margin-top: 4em;
    margin-bottom: 2em;
}
.imagem-site1{
    margin-left: 56em;
    position: relative;
    width: 32%;
    height: 50%;
    margin-top: -60em;
}
/*site 2*/
.content-site2{
    text-align: justify;
    margin-left: 6em;
    margin-right: 34em;
    margin-top: 4em;
    margin-bottom: 2em;
}
.imagem-site2{
    margin-left: 58em;
    position: absolute;
    width: 32%;
    height: 40%;
    margin-top: -46em;
}


/*footer*/
.footer{
    color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}
.footer .footer-bottom{
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
}
.footer .footer-bottom a:hover{
    color: #aa1419 !important;
    background:transparent;
}

/*conten*/
.content{
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content{
    width: 70%;
    float: left;
}

.content .sidebar{
    width: 30%;
    float: left;
    height: 300px;
    border: 1px solid black;
    background-color: whitesmoke;
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem black;
}
.content .sidebar .redes-sociais{
    text-align: center;
    margin-left: 1em ;
}
.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem black;
    position: relative;
    border-top: 1x solid black;


}

.content .main-content .post .saiba-mais{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid black;
    background: transparent;
    border-radius: 0px;
    color: #aa1419 !important;
}

.content .main-content .post .saiba-mais:hover{
    color: rgb(255, 255, 255) !important;
    background: #aa1419;
    transition: 0.25s;
}

.content .main-content .post .post-preview{
    width: 60%;
    float: right;
    padding: 10px;
}

.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .recent-posts-title{
    margin: 10px auto;
    text-align: center;
    margin-left: 46%; 

}
/*formulario*/
.form{
    position: relative;
    margin-left: 29em;
    width: 35%;
    border: 1px solid black;
    text-align: justify;
}
